<footer class="footer__block">
    <div class="container">
        <nav class="nav">
            <ul class="nav__left ">
                <li><a href="#" class="nav__links footer">Главная</a></li>
                <li><a href="#" class="nav__links footer">Субсидии</a></li>
                <li><a href="#" class="nav__links footer">Акселераторы</a></li>
                <li><a href="#" class="nav__links footer">Экспорт</a></li>
                <li><a href="#" class="nav__links footer">Сервисы</a></li>
                <li><a href="#" class="nav__links footer">Мероприятия</a></li>
                <li><a href="#" class="nav__links footer">Журнал</a></li>
            </ul>
            <ul class="nav__right">
                <li>
                    <a href="#" class="nav__messagers"><img src="./assets/images/VK.svg" alt="#"
                            class="nav__img" /></a>
                </li>
                <li>
                    <a href="#" class="nav__messagers"><img src="./assets/images/Faceboock.svg" alt="#"
                            class="nav__img" /></a>
                </li>
                <li>
                    <a href="#" class="nav__messagers"><img src="./assets/images/instagram.svg" alt="#"
                            class="nav__img" /></a>
                </li>
                <li>
                    <a href="#" class="nav__messagers"><img src="./assets/images/dzen.svg" alt="#"
                            class="nav__img" /></a>
                </li>
                <li>
                    <a href="#" class="nav__messagers"><img src="./assets/images/youtube.svg" alt="#"
                            class="nav__img" /></a>
                </li>
            </ul>
        </nav>

        <h2 class="preview__title-text footer none">Moscow.Business</h2>


        <nav class="nav__min">

            <ul class="nav__left ">
                <h2 class="preview__title-text footer text__min">Москва для бизнеса</h2>
                <li class="nav__li"><a href="#" class="nav__links footer">Главная</a></li>
                <li class="nav__li"><a href="#" class="nav__links footer">Субсидии</a></li>
                <li class="nav__li"><a href="#" class="nav__links footer">Акселераторы</a></li>
                <li class="nav__li"><a href="#" class="nav__links footer">Экспорт</a></li>
                <li class="nav__li"><a href="#" class="nav__links footer">Сервисы</a></li>
                <li class="nav__li"><a href="#" class="nav__links footer">Мероприятия</a></li>
                <li class="nav__li"><a href="#" class="nav__links footer">Журнал</a></li>
            </ul>
            <ul class="nav__right">
                <li class="img__li">
                    <a href="#" class="nav__messagers"><img src="../assets/images/VK.svg" alt="#"
                            class="nav__img" /></a>
                </li>
                <li class="img__li">
                    <a href="#" class="nav__messagers"><img src="../assets/images/Faceboock.svg" alt="#"
                            class="nav__img" /></a>
                </li>
                <li class="img__li">
                    <a href="#" class="nav__messagers"><img src="../assets/images/instagram.svg" alt="#"
                            class="nav__img" /></a>
                </li>
                <li class="img__li">
                    <a href="#" class="nav__messagers"><img src="../assets/images/dzen.svg" alt="#"
                            class="nav__img" /></a>
                </li>
                <li class="img__li">
                    <a href="#" class="nav__messagers"><img src="../assets/images/youtube.svg" alt="#"
                            class="nav__img" /></a>
                </li>
            </ul>
        </nav>


        <!--PREVIEW-->

        <div class="preview footer">
            <div class="preview__inner">
                <div class="preview__title">
                    <h2 class="preview__title-text footer">Moscow.Business</h2>
                    <div class="preview__title-content footer"></div>
                    <h2 class="preview__title-text footer">Москва для бизнеса</h2>
                </div>
                <img class="preview__logo" src="../assets/images/logo__pink.svg" alt="#" />
            </div>
        </div>

        <img class="preview__logo none" src="../assets/images/logo__pink.svg" alt="#" />

        <div class="footer__info">

            <div class="footer__inner">
                <div class="footer__text">© 2021. 16+<br>Moscow.Business. Все права защищены</div>
            </div>
            <div class="footer__inner">
                <div class="footer__text center">
                    Присылайте ваши идеи, темы и предложения о сотрудничестве:
                </div>
                <div class="footer__email">info@moscow.business</div>
            </div>
            <div class="footer__inner">
                <div class="footer__text center">
                    Присылайте ваши идеи, темы и предложения о сотрудничестве:
                </div>
                <div class="footer__email">info@moscow.business</div>
                <div class="footer__line">
                    <svg width="89" height="89" viewBox="0 0 89 89" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <mask id="mask0_6290_1743" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0"
                            width="93" height="93">
                            <path d="M90.5482 0C90.5482 50.008 50.008 90.5482 0 90.5482" stroke="white" stroke-width="3"
                                stroke-miterlimit="10" />
                        </mask>
                        <g mask="url(#mask0_6290_1743)">
                            <rect x="1" y="1" width="109" height="88" fill="#FF4261" />
                        </g>
                    </svg>
                </div>
            </div>
        </div>
        <div class="footer__line none">
            <svg width="89" height="88" viewBox="0 0 89 88" fill="none" xmlns="http://www.w3.org/2000/svg">
                <mask id="mask0_6382_719" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="93"
                    height="93">
                    <path d="M90.5482 0C90.5482 50.008 50.008 90.5482 0 90.5482" stroke="white" stroke-width="3"
                        stroke-miterlimit="10" />
                </mask>
                <g mask="url(#mask0_6382_719)">
                    <rect x="1" y="1" width="109" height="88" fill="#FF4261" />
                </g>
            </svg>
        </div>
        <div class="footer__text none">© 2021. 16+<br>Moscow.Business. Все права защищены</div>


    </div>
</footer>