<header class="header">
  <div class="container">
    <nav class="nav">
      <ul class="nav__left">
        <li><a href="#" class="nav__links">Главная</a></li>
        <li><a href="#" class="nav__links">Субсидии</a></li>
        <li><a href="#" class="nav__links">Акселераторы</a></li>
        <li><a href="#" class="nav__links">Экспорт</a></li>
        <li><a href="#" class="nav__links">Сервисы</a></li>
        <li><a href="#" class="nav__links">Мероприятия</a></li>
        <li><a href="#" class="nav__links">Журнал</a></li>
      </ul>
      <ul class="nav__right">
        <li>
          <a href="#" class="nav__messagers"><img src="../assets/images/VK.svg" alt="#" class="nav__img" /></a>
        </li>
        <li>
          <a href="#" class="nav__messagers"><img src="../assets/images/Faceboock.svg" alt="#" class="nav__img" /></a>
        </li>
        <li>
          <a href="#" class="nav__messagers"><img src="../assets/images/instagram.svg" alt="#" class="nav__img" /></a>
        </li>
        <li>
          <a href="#" class="nav__messagers"><img src="../assets/images/dzen.svg" alt="#" class="nav__img" /></a>
        </li>
        <li>
          <a href="#" class="nav__messagers"><img src="../assets/images/youtube.svg" alt="#" class="nav__img" /></a>
        </li>
      </ul>
    </nav>

    <div class="nav__min">
      <h2 class="preview__title-text">Moscow.Business</h2>


      <div b__container>
        <input id="check" class="check" type="checkbox"><label for="check" class="burger"></label></div>


    </div>
  </div>

  </div>


  <!--PREVIEW-->

  <div class="preview">
    <div class="container">
      <div class="preview__inner">
        <div class="preview__title">
          <h2 class="preview__title-text">Moscow.Business</h2>
          <div class="preview__title-content"></div>
          <h2 class="preview__title-text">Москва для бизнеса</h2>
        </div>
        <img class="preview__logo" src="./assets/images/logo.svg" alt="#" />
      </div>
      <div class="previews__line">
        <svg width="91" height="90" viewBox="0 0 91 90" fill="none" xmlns="http://www.w3.org/2000/svg">
          <mask id="mask0_6290_390" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="95"
            height="94">
            <path d="M93 6.10352e-05C93 50.8099 51.3621 92.0001 0 92.0001" stroke="white" stroke-width="3"
              stroke-miterlimit="10" />
          </mask>
          <g mask="url(#mask0_6290_390)">
            <rect x="5" y="2.00006" width="109" height="88" fill="white" />
          </g>
        </svg>
      </div>
    </div>
  </div>
</header>